@model Entidades.Empleado

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/_LayoutMenu.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Detalles <small>de empleado</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-user"></i>  <a href="/Empleado/Listado">Empleado</a>
                </li>
                <li class="active">
                    <i class="fa fa-eye"></i> Detalles
                </li>
            </ol>
        </div>
    </div>

    <fieldset>
        <legend>Empleado</legend>

        @Html.HiddenFor(model => model.IdEmpleado)

        <div class="row">
            <label for="inputEmail3" class="col-sm-2 lead control-label">@Html.DisplayNameFor(model => model.DniEmp)</label>
            <div class="col-sm-5">
                @Html.DisplayFor(model => model.DniEmp, new { @class = "form-control" })
            </div>
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.NombreEmp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NombreEmp)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.ApellidoEmp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ApellidoEmp)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.FechaNac)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FechaNac)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.DireccionEmp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DireccionEmp)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.TelefonoEmp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TelefonoEmp)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.EmailEmp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.EmailEmp)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Editar", "Editar", new { @id=@Model.IdEmpleado }) |
        @Html.ActionLink("Volver al listado", "Listado")
    </p>
</div>