@model Entidades.Departamento
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutMenu.cshtml";
}

    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Departamento</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.NombreDep)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NombreDep)
                @Html.ValidationMessageFor(model => model.NombreDep)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DescDep)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DescDep)
                @Html.ValidationMessageFor(model => model.DescDep)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Telefono)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Telefono)
                @Html.ValidationMessageFor(model => model.Telefono)
            </div>
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Volver al listado", "Listado")
    </div>

